.cards{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(../assets/light-purple-pattern-with-curved-lines-colorful-illustration-with-curved-lines-pattern-for-websites-landing-pages-vector.jpg);
    background-position: center;
    background-size: cover; 
}
@media only screen and (max-width: 510px){
    .cards{ display: flex;
        flex-direction: column !important;
        align-items: center !important;
}
}
.card{
    border-color: #333;
}
.card-body{
    background-color: $color-paleta-4;
}
.card-assets-top{filter: sepia(100%);
}
.card-assets-top:hover{
transform: scale(1.4);
border-radius: 15px;
filter: sepia(0%);
transition: 1.2s;
}
.btn-primary{
    background-color: #333;
    border-color:$color-paleta-1;
}
.btn-primary:hover{
    background-color:black;
    text-size-adjust: 19px;
    color: red;
    border-color: #333;
    transform:scale(1.2);
    transition: 0.4s;
}
