.presentation-1{
    background-color: #826e92;
    padding: 50px;
}

.presentation-2{
    background-image:url(../assets/museum.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}