.maps{
    @include centrar;
    border: solid $color-paleta-1 5px;
    box-sizing: border-box;
    background-image: url(../assets/light-purple-pattern-with-curved-lines-colorful-illustration-with-curved-lines-pattern-for-websites-landing-pages-vector.jpg);
    background-position: center;
    background-size: cover;
}